body {
    margin-top: 60px;
}
.undecorated-link:hover {
    text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.pepper-student {
    animation: fadein 5s;
    animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes fadein {
    99% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

