<section class="col-sm-6">
    <ng-form name="retroSetup" role="form">

        <div class="form-group">
            <label for="cohort">Cohort</label>
            <select id="cohort"
                    class="form-control"
                    data-ng-options="cohort for cohort in cohorts"
                    data-ng-model="cohort"
                    required>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" data-ng-click="selectStudent()" data-ng-disabled="retroSetup.$invalid">Inflict Retro</button>
        </div>

        <div class="form-group">
            {{ student.name }}
        </div>

        <div class="form-group" data-ng-show="student">
            <button class="btn btn-danger" data-ng-click="saveSelectedStudent()" data-ng-disabled="retroSetup.$invalid">Save</button>
            <p class="help-block">Saving the selected student will prevent duplicate selection in the future.</p>
        </div>

    </ng-form>

</section>
